# Files
# -----------------

.npmrc
.eslintrc
.editorconfig
.gitignore

# Travis
# -----------------

.travis.yml

# Karma
# -----------------

karma.conf.js

# Directories
# -----------------

/tests
